@import "../../colors";
@import "../../fonts";
.link{
  text-decoration: none;
  color: inherit;
  font-family: $open-sans;
  border-radius: 8px;
  overflow: hidden;
  display: inline-block;
  max-width: 1fr;
  box-shadow: 0 3px 2px #456;
  .img{
    width: 100%;
    height: auto;
  }
  section{
    margin-left: 1rem;
    padding: 1rem;
  }
  h5{
    font-size: 1.45rem;
    color: $purple-700;
    margin: 0.5rem 0;
  }
  p{
    line-height: 1.6;
    font-size: 1.125rem;
    margin-bottom: 1rem;
  }
  .tags span{
    margin: 0 0.3rem;
    color: $purple-700;
  }
}